/* -------  General Styles ------- */

body {
    font-family: "Lato", sans-serif;
    color: #6b1a22;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px 15px 10px;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

p {
    line-height: 1.5em;
    margin: 0;
}

section {
    padding: 20px;
}

section.alternate-background {
    background-color: #a35766;
    color: #ecdbc9;
}

main img {
    width: 100px;
}

/* ---  Groups & Items --- */

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
}

/* -------  Navigation ------- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #83092e;
    padding: 20px;
    text-align: center;
}

.logo {
    font-family: "Tangerine", cursive;
    font-size: 72px;
    color: #ecdbc9;
}

header nav ul {
    display: flex;
    padding-left: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #ecdbc9;
    text-decoration: none;
    padding: 0 20px 0 0;
}

header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
}

/* -------  Join Form ------- */
#join {
    display: flex;
    flex-direction: column;
}
#join img {
    /* flex-grow: 2; */
    width: 100%;
    margin-bottom: 10px;
    /* flex: 2 100%; */
}
#join form {
    /* flex-grow: 1; */
    flex: 1;
}
form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 2px solid #6b1a22;
    padding: 10px;
}
form div {
    display: flex;
    justify-content: space-between;
}

form label {
    font-weight: bold;
}

form select,
form input {
    margin-bottom: 20px;
    width: 180px;
}

form button {
    background-color: #83092e;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
}
/* -------  About ------- */
#about-block {
    display: flex;
    flex-direction: column;
}
#about img {
    width: 100%;
    margin-bottom: 20px;
}

/* -------  Download the App ------- */
#download img {
    width: 100%;
}
/* -------  Blog ------- */
#blog img {
    width: 100%;
}

#blog p {
    margin-bottom: 15px;
}

/* -------  Footer ------- */

footer {
    background-color: #83092e;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* -------  Media Query ------- */
/* I know that assignment told to set min-width to 480px but in practice everything goes "wrong" around 1130px */
@media all and (min-width: 480px) {
    /* -------  Navigation ------- */
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    /* -------  Search Form ------- */
    #join {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #join img {
        width: 50%;
        flex: 2 75%;
        margin-right: 10px;
        margin-bottom: 0;
    }
    #join form {
        flex: 1 25%;
    }
    /* ------- About ------- */
    #about-block {
        flex-direction: row;
        align-items: center;
    }
    #about-block img {
        width: 25%;
        box-sizing: border-box;
        margin-right: 10px;
    }

    /* ------- Download the App ------- */
    #download {
        display: flex;
    }
    #download img {
        width: 50%;
    }
    #download-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* -------  Blog ------- */

    #blog-block {
        display: flex;
        flex-wrap: wrap;
    }
    #blog-block article {
        box-sizing: border-box;
        flex: 0 50%;
        padding: 10px;
    }

    #ideas-block article img {
        width: 100%;
    }
}
